body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.circle-square {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-square::before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    border-radius: 50%;
}